@model IEnumerable<AspnetCoreMvcFull.Models.ViewModels.PedidoViewModel>

@{
  ViewData["Title"] = "Pedidos Completados";
}

<h1>Pedidos Completados</h1>

@if (ViewBag.Mensaje != null)
{
  <div class="alert alert-info">
    @ViewBag.Mensaje
  </div>
}

<table class="table table-striped mt-3">
  <thead>
  <tr>
    <th>ID Pedido</th>
    <th>Cliente</th>
    <th>Estado</th>
    <th>Productos</th>
    <th>Promociones</th>
    <th>Total</th>
    <th>Fecha de Creación</th>
    <th>Estado de Venta</th>
    <th>Preparacion</th>
    <th>Listo</th>
    <th>Entregado</th>
  </tr>
  </thead>
  <tbody>
  @foreach (var pedido in Model)
  {
    <tr>
      <td>@pedido.Id</td>
      <td>@pedido.IdCliente</td>
      <td>@pedido.Estado</td>
      <td>
        @foreach (var producto in pedido.Productos)
        {
          <div>@producto.IdProducto - Cantidad: @producto.Cantidad</div>
        }
      </td>
      <td>
        @foreach (var promocion in pedido.Promociones)
        {
          <div>@promocion.IdPromo - Cantidad: @promocion.Cantidad</div>
        }
      </td>
      <td>@pedido.Total.ToString("C")</td>
      <td>@pedido.FechaCreacion</td>
      <td>@pedido.EstadoVenta</td>
      <td>
        <form method="post" asp-action="ActualizarTiempoPedido">
          <input type="hidden" name="pedidoId" value="@pedido.Id" />
          <input type="number" name="tiempoPreparacion" value="@pedido.TiempoPreparacion" />
          <button type="submit" class="btn btn-primary">Actualizar Tiempo</button>
        </form>
      </td>
      <td>
        <form method="post" asp-action="CambiarEstadoPedidoListo">
          <input type="hidden" name="pedidoId" value="@pedido.Id" />
          <button type="submit" class="btn btn-primary">Listo</button>
        </form>
      </td>
      <td>
        <form method="post" asp-action="CambiarEstadoPedidoEntregado">
          <input type="hidden" name="pedidoId" value="@pedido.Id" />
          <button type="submit" class="btn btn-primary">Listo</button>
        </form>
      </td>
    </tr>
  }
  </tbody>
</table>
